<h1>Show</h1>

<div>
  <div>name : {{data.name}}</div>
  <div>venue : {{data.venue}}</div>
  <div>description : {{data.description}}</div>
  <div>capacity : {{data.capacity}}</div>
  <div>price : {{data.price}}</div>
  <div>
    <img src="{{data.image}}" />
  <div>date : {{data.date}}</div>
</div>

<div class="text-center">
  <a class="btn btn-primary" href="/shows/create" role="button">
    Add a show
  </a>
  <a class="btn btn-secondary" href="/shows/update/{{data.id}}" role="button">
    Update
  </a>
  <a class="btn btn-danger" href="/shows/delete/{{data.id}}" role="button">
    Delete
  </a>
</div>